<mat-toolbar color="dark">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu_book</mat-icon>
   </button>
   <span>Exam Portal</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" routerLink="/login">
     <mat-icon>login</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" routerLink="/signup">
    <mat-icon>edit_square</mat-icon>
  </button> 
</mat-toolbar>