<div class="container mt-5">
    <mat-card style="width: 80%; margin: auto; background-color:rgb(243 243 243 / 64%);">
        <mat-card-content>
            <div class="row mt-2">
                <div class="col-md-6 offset-md-3 text-center">
                    <div class="container">
                        <img src="../../../assets/logo.png" alt="logo" width="20%">
                    </div>
                    <h1>Registration Form</h1>

                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field appearance="outline" class="fullwidth">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Enter Username" [(ngModel)]="user.userName" name="userName"
                                required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="fullwidth">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="abc@gmail.com" [(ngModel)]="user.email" name="email"
                                type="email" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="fullwidth">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter Password" [(ngModel)]="user.password" name="password"
                                type="password" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="fullwidth">
                            <mat-label>Firstname</mat-label>
                            <input matInput placeholder="Enter Firstname" [(ngModel)]="user.firstName" name="firstName"
                                required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="fullwidth">
                            <mat-label>Lastname</mat-label>
                            <input matInput placeholder="Enter Lastname" [(ngModel)]="user.lastName" name="lastName"
                                required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="fullwidth">
                            <mat-label>Phone number</mat-label>
                            <input matInput placeholder="Enter Phone number" [(ngModel)]="user.phone" name="phone"
                                required>
                        </mat-form-field>

                        <div class="container">
                            <button type="submit" mat-raised-button color="primary">Register</button> &nbsp;
                            <button mat-raised-button>Cancel</button>
                        </div>

                    </form>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>